* {
	padding: 0;
	margin: 0;
	color: white;
	font-family: 'Kanit', sans-serif;
	box-sizing: border-box;
}
body {
	background: #FC466B;  
	background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);
	background: linear-gradient(to right, #3F5EFB, #FC466B);
	min-height: 100vh;
}
header {
	min-height: 10vh
}
h1 {
	text-align: center;
	padding-top:48px; 
}
main {
	width: 100vw;
	min-height: 100vh;
	display: flex;
	flex-direction: column;	
}
section {
	display: flex;
	min-height: 70vh;
	align-items: center;
}
.ou {
	width: 5vw
}
footer {
	display: flex;
	min-height: 20vh;
}
.optionA, .optionB {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50vw;
}
.card {
	background: white;
	height: 30vh;
	width: 80%;
	border-radius: 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 450px;
	box-shadow: 0px 24px 20px rgba(0,0,0,0.1);
	color: #555;
	cursor: pointer;
	transition: all ease 0.3s;
}
.card:hover {
	transform: scale(1.05);
}
.ou {
	font-size: 48px;
	margin: 24px;
	text-align: center;
}
p {
	font-weight: 800;
	text-align: center;
	font-size: 24px;
	padding: 24px;
	color: inherit;
	text-transform: uppercase;
	letter-spacing: 1px
}
.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
}
button {
	border: none;
	padding: 16px 24px;
	background: white;
	color: green;
	border-radius: 100px;
	font-size: 24px;
	font-weight: 800;
	letter-spacing: 2px;
	outline: none;
	cursor: pointer;
}
#zap {
	position: absolute;
	bottom: 75px;
	right: 20px;
	color: green;
	width: 72px;
	height: 72px;
	border-radius: 100px;
	background-image: url(https://i.pinimg.com/736x/93/b2/65/93b265c795140247db600ac92e58746a.jpg);
	background-size: auto 80%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: whitesmoke;
}
@keyframes flip {
  0% {
  	transform: rotateY(0deg);
  	color: #555;
  }
  50% {
  	transform: rotateY(180deg);
  	color: #fff;
  }
  100% {
  	transform: rotateY(360deg);
  	color: #fff;
  }
}
.rotation {
	animation-name: flip;
	animation-timing-function: ease-in-out;
	animation-duration: 2s;
}

@media (max-width: 630px){
	body {
		background: #FC466B;  
		background: -webkit-linear-gradient(to bottom, #3F5EFB, #FC466B);
		background: linear-gradient(to bottom, #3F5EFB, #FC466B);
	}
	main, header, section, footer {
		height: auto;
		min-height: auto;
	}
	section {
		flex-direction: column;
	}
	h1 {
		font-size: 16px;
		padding: 20px 0;
	}
	.card {
		height: 30vh;
		min-height: 120px;
	}
	.optionA, .optionB, .ou {
		width: 100vw;
	}
	.ou {
		font-size: 24px;
		margin: 12px 0;
	}
	p {
		font-size: 16px;
	}
	footer {
		position: fixed;
		bottom: 0;
		left:0;
		display: flex;
		height: 72px;
	}
	button {
		border-radius: 0;
		font-size: 16px;
		width: 75vw;
		border-right: 2px solid #FC466B;
		height: 100%;
	}
	#zap {
		position: relative;
		bottom: initial;
		right: initial;
		width: 25vw;
		border-radius: 0;
		height: 100%;
	}
}