body {
    background: #F9F6F4;
    font-family:'Merriweather', serif;
    text-align:center;
    font-size:20px;
    color: #2F2F2F;
}
div {
  width: 98%;
  max-width:660px;
  padding: 0 8px;
  line-height: 2rem;
  text-align:center;
  margin: 32px auto;
}
		p {
      margin: 1%;
}
a {
    color: white;
    background: #6767ff;
    display: block;
    padding: 12px;
    margin: 24px 0px;
    border: none;
    text-decoration: none;
    border-radius: 8px;
}
h1 {
  font-size: 32px;
  line-height: 1;
  text-align: center;
}
h2 {
  font-size: 20px;
  text-align: left;
  height: 35px;
}
span.topic {
  display: inline-block;
  width: 72px;
}
hr {
  border: none;
  height: 1px;
  background: #767676;
  margin: 24px 0px;
}
button {
  width: 100%;
  border: none;
  background: #2f2f2f;
  color: #F9F6F4;
  font-size: 16px;
  padding: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
}
.btnSmall {
  width: initial;
  font-size: 12px;
  padding: 8px;
}
