* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	transition: all ease 0.3s; 
}
body {
	min-height: 100vh;
	background: #e8eaf6;
	background-size: cover;
	font-size: 16px;
	font-family: "Raleway", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#app {
	padding: 30px;
	height: 100vh;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
h1 {
	font-size: 3rem;
	text-transform:  uppercase;
	letter-spacing: 8px;
	text-align: center;
	color: #3f51b5;
}
h2 {
	color: #78909c;
	text-align: center;
	margin-bottom: 16px;
	font-size: 1.6rem;
	font-weight: bold
}
p {
	font-size: 1.2rem;
	margin-bottom: 1rem
}
p:last-child {
	border-top: 1px solid #eee;
	padding-top: 16px;
	font-weight: bold;
}
h3 {
	background: #8e24aa;
	color: white;
	width: 300px;
	margin: 60px auto 0;
	border-radius: 4px;
	box-shadow: 0 4px 16px #c5cae9;
	padding: 30px;
	font-weight: normal;
	text-align: center
}
.players {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 120px;
}
.players .card {
	width: 25%;
	min-height: 200px;
	padding: 75px 30px 10px;
	margin: 10px;
	background: #fff;
	box-shadow: 0 4px 16px #c5cae9;
	border-radius: 4px;
	position: relative;
}
.players .card:first-child {
	border: 1px solid #8e24aa;
	position: relative;
}
.players .card:first-child img {
	border: 2px solid #8e24aa;
}
.players .card:after {
	content: '';
	position: absolute;
	padding: 5px 10px;
	top: 10px;
	left: 10px;
	background: #8e24aa;
	color: white;
	border-radius: 100px
}
.players .card:first-child:after {
	content: 'Líder';
}
.players .card:nth-child(2):after {
	content: '2º';
}
.players .card:nth-child(3):after {
	content: '3º';
}
.players .card:nth-child(4):after {
	content: '4º';
}
.avatar img {
	position: absolute;
	top: -60px;
	left: 50%;
	transform: translateX(-50%);
	width: 120px;
	display: block;
	border-radius: 100%;
}
@media (max-width: 1120px) {
	.players {
		flex-wrap: wrap;
	}
	.players .card {
		width: calc(50% - 20px);
		margin-bottom: 100px;
	}
}
@media (max-width: 650px) {
	.players .card {
		width: calc(100% - 20px);
		margin-bottom: 100px;
	}
	h1 {
		font-size: 1.6rem;
	}
}