body {
    background: #F9F6F4;
    font-family:'Merriweather', serif;
    text-align:center;
    font-size:20px;
    color: #2F2F2F;
}
div {
  width: 98%;
  max-width:660px;
  padding: 1%;
  line-height: 2rem;
  text-align:center;
  margin: auto;
  margin-top: 10%;
}
		p {
      margin: 3%;
}
a {
  color: #6767ff;
}
h1 {
  line-height: 1.4;
}
hr {
  border: none;
  width: 50%; 
  height: 1px;
  background: #767676;
  margin: auto;
}
